body {
  font-family: Arial;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.box {
  background: aqua;
  padding: 20px;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
}